node_modules/
.env
*.log
.DS_Store
data/
*.sqlite
*.sqlite-journal
student_app/android/
student_app/ios/
student_app/linux/
student_app/macos/
student_app/windows/
student_app/web/
student_app/.dart_tool/
student_app/.flutter-plugins
student_app/.flutter-plugins-dependencies
student_app/.packages
student_app/build/
student_app/.idea/
student_app/*.iml
backend/.env
